.contact-container {
  background-image: url("../../public/contact_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column wrap;
  gap: 2em;
  height: 100%;
  justify-content: center;
}

.contact {
}

.contact-content {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.contact-photo img {
  width: 100%;
  max-width: 300px;
  border-radius: 14px;
}

.contact-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .btn {
    background: rgba(0, 0, 0, 0.5);
  }
}

.btn-github,
.btn-malt,
.btn-linkedin {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-decoration: none;
  //   border: 2px solid #ccc;
  border-radius: 4px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #ee30e9;
    color: #fff;
  }
}
.title-container {
  width: 100%;
}

.btn-github i,
.btn-malt i,
.btn-linkedin i {
  margin-right: 1rem;
  font-size: 2rem;
}

.btn-github,
.btn-malt,
.btn-linkedin {
  display: flex;
  align-items: center;
}

.btn-malt {
  // Styles spécifiques au bouton Malt
}

.btn-linkedin {
  // Styles spécifiques au bouton LinkedIn
}

.mail {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5em;
  p {
    font-family: "Orbitron", sans-serif;
  }
}
